<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chouyv.mapper.MoneyMapper">

    <resultMap id="BaseResultMap" type="cn.chouyv.domain.Money">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="cny" column="cny" jdbcType="BIGINT"/>
            <result property="depositCny" column="deposit_cny" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,cny,
        deposit_cny,created_at,updated_at,
        is_deleted
    </sql>
    <select id="selectOneByUid" resultType="cn.chouyv.domain.Money">
        SELECT *
        FROM money
        WHERE uid = #{uid}
          AND is_deleted != 1
    </select>
</mapper>
